body{
    background-color: #E2E2E2;
    font-family: Arial, sans-serif;
    display: block;
    margin: 30px;
}
.title{
    color: #384D48;
    width: 500px;
    height: 35px;
    font-size: 30px;
    text-align: center;
    padding: 10px;
    border: 2px #6A3E37 solid;
    margin: 10px auto;
}
.para{
    color: #FF7E6B;
    width: auto;
    height: auto;
    font-size: 20px;
}
.em{
    color: #44AF69;
}
.recipe-list{
    color: #5C80BC;
    width: auto;
    height: auto;
}
.para.quote{
    color:#5C80BC
}
a:link {
    color: #5C80BC;
    text-decoration: none;
    background-color: transparent;
    font-size: 20px;
    margin-right: 20px;
}
a:visited {
    color: #5C80BC;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: #031A6B;
    background-color: transparent;
    text-decoration: underline;
}
a:active {
    color: #5C80BC;
    background-color: transparent;
    text-decoration: underline;
}